In [ ]:
from db import executeList, execute
import pandas as pd

In [64]:
l = ["Create table If Not Exists Person (personId int, firstName varchar(255), lastName varchar(255))",
"Create table If Not Exists Address (addressId int, personId int, city varchar(255), state varchar(255))",
"Truncate table Person",
"insert into Person (personId, lastName, firstName) values ('1', 'Wang', 'Allen')",
"insert into Person (personId, lastName, firstName) values ('2', 'Alice', 'Bob')",
"Truncate table Address",
"insert into Address (addressId, personId, city, state) values ('1', '2', 'New York City', 'New York')",
"insert into Address (addressId, personId, city, state) values ('2', '3', 'Leetcode', 'California')"]

In [68]:
print(executeList(l))

[]

In [69]:
execute("select * from person")
execute("select * from address")

[(1, 2, 'New York City', 'New York'), (2, 3, 'Leetcode', 'California')]

In [70]:

executeList([
    "drop table person",
    "drop table address"
])

[]